<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="well">
  <div class="field" style="width: 200px;">
    <%= f.input :first_name, required: true %>
  </div>
  <div class="field" style="width: 200px;">
    <%= f.input :last_name, required: true %>
  </div>
  <div class="field" style="width: 200px;">
    <%= f.input :email , required: true %>
  </div>
  <div class="field" style="width: 200px;">
    <%= f.input :city, required: true %>
  </div>
  <div class="field" style="width: 200px;">
    <%= f.input :country, as: :country %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.button :submit %></div>
<% end %>
</div>